{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if postik.published_date %} 
            <div class="date">
             {{ postik.published_date }} 
            </div>
        {% endif %}
	    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=postik.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ postik.title }}</h1>
        <p>{{ postik.text|linebreaksbr }}</p>
    </div>
{% endblock %}
